<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        {control menu:title}
    </head>

    <body class="{$presenter->getName()|webalize} {$presenter->getAction()}">
        {include layout}
    </body>
</html>